/*****font-family: 'Open Sans', sans-serif;***/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #e6e6e6;
    width: 100%;
    height: 100vh;
    margin: 5% 25%;
}
header,
nav,
main{
    background: white;
    width: 50%;
    margin-bottom: 2%;
    border-radius: 5px;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
header img{
    border-radius: 50%;
    border: solid 4px #e6e6e6;
    margin-bottom: 30px;
}

header h1,
header h2{
    padding-bottom: 3%;
}
.see-for-self{
    padding: 2%;
    background: rgb(228, 110, 110);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
h1{
    color :rgb(228, 110, 110);
    font-weight: 900;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
li{
    margin: 0 30px;
}

nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
main{
    padding: 2%;
}

figure{
    display:flex;
    
}
main h2{
    text-align: center;
    padding: 2%;
}
figure img{
    width: 100px;
}
figure h3{
    text-align: center;
    padding: 2%;
}
figcaption{
    padding: 2%;

}

